.asl-footer {
  padding: 16px 0;
  text-align: center;
  border-top: 1px solid sp-rgb(--now-color_divider--tertiary, #CFD5D7);
  background-color: sp-rgb(--now-color_background--primary, #FFFFFF);
}

.asl-footer .asl-footer-text {
  margin: 0;
  font-size: 14px;
  color: sp-rgb(--now-color_text--secondary, #232E33);
}

.asl-footer .asl-heart {
  margin: 0 2px;
}
